@use "../../fonts-colors" as font-color;

#header {
    // background-color: black;
    padding: 10px 0;
    box-shadow: -1px 5px 15px 0px grey;
    background-color: white;
  .header-container {
      
    padding: 10px 10rem;
    display:flex;
    justify-content: left;
    .logo-container {
      display: inline-flex;
      width: 33%;
      flex-direction: row;
      align-items: center;
      justify-content: left;
      .logo {
        width: 1.5rem;
        @include font-color.logo-color;
      }
      .logo-highlight {
        color: blue;
        @include font-color.logo-font;
        margin-left: 5px;
      }
      span {
        @include font-color.logo-font;
      }
    }
    .search-container {
        // width: 33%;
        display:inline-flex;
      #search {
          width: 400px;
        height: 2rem;
        border-radius: 3px;
        border: none;
        padding: 5px 10px;
        background-color: font-color.$color-searchbar;
        font-family: Ubuntu, sans-serif;
        
      }
      button{
          border:none;
          background-color: transparent;
          margin-left: 5px;
          cursor: pointer;
          .fa-search{
              color:font-color.$color-searchIcon;
              font-size: 1.2rem;
          }
      }
    }
  }
}
@media only screen and (max-width: 900px) {
   #header{
       .header-container{
           flex-direction: column;
           padding: 10px 30px;
           align-items: center;
           justify-content: center;
           .logo-container{
             justify-content: center;
           }
           .search-container{
               margin-top: 10px;
              //  min-width: 100%;
               #search{
                   width: auto;
               }
           }
       }
   }
}
