.sidebar {
  // width: 300px;
  width: 30%;
    background-color: white;
    box-shadow: 0 0 20px 0px grey;
  padding: 20px 0;
  h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 20px;
    padding-left: 20px;
  }
  .subredditList {
      li{
          button{
              display:flex;
              align-items: center;
              font-weight: 600;
              width: 100%;
              padding: 15px 30px;
              border: none;
              background-color: transparent;
              &:hover{
                background-color:rgb(239, 239, 239)
              }
              img{
                  width: 30px;
                  height: 30px;
                //   background: transparent;
                  border-radius: 100%;
                  border:2px solid grey;
                  margin-right: 10px;
              }
          }
      }
      li.active{
        button{
          background-color:rgb(218, 218, 218)
        }
        
      }
  }
}
@media only screen and (max-width: 768px){
  .sidebar{
    width: 100%;
  }
}
