// Importing defined color variables
@use '../../../../fonts-colors' as font-color;
@import '../../../../fonts-colors';
a{
  text-decoration: none;
  color: black;
}
.post-preview {
  border: 2px solid $color-gray-border;
  border-radius: 5px;
  color:white;
  //   background-color: lightgray;
  // width: 100%;
  padding: 20px 20px 20px 0;
  margin: 10px;
  display: flex;
  flex-direction: row;
  background-color: $color-gray-dark;
  &:hover{
    border: 2px solid #818384
  }
  
  .preview-content {
    width: 90%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    p{
      @include font-color.font-post-details;
    }
    
    h2{
      margin: 10px 0;
      line-height: 1.3rem;
      font-weight: 500;
    }
    #videos{
      width : 400px;
      height: 210px;
    }
    a{
      overflow-wrap: break-word;
      line-height: 1.3rem;
    }
    .image-container{
      margin-top: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .reddit-video{
      height: 512px;
    }
    button{
      margin-top:1rem;
      border: 2px solid black;
      border-radius: 5rem;
      padding: 0.5rem 0.7rem;
      font-weight: 500;
      float: right;
      &:hover{
        background-color: rgb(221, 221, 221);
      }

    }
    .post-text{
      margin-top: 2rem;
      p{
        margin-bottom: 1em;
        line-height: 1.5rem;
        color: black;
        font-size: 1rem;
      }
      

    }
    #extra-details{
      margin-top: 10px;
    }
    @media only screen and (max-width: 600px)  {
      #videos{
        width: 100%;
        iframe > iframe{
          width: 100%;
        }
        
      }
    }
  }
}
