// Importing defined color variables
@use '../../../../fonts-colors' as font-color;

.post-preview {
  border: 1px solid rgb(190, 190, 190);
  //   background-color: lightgray;
  width: 100%;
  padding: 20px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  &:hover{
    border: 1px solid #818384
  }
  
  .preview-content {
    width: 90%;
    margin-left: 10px;
    p{
      @include font-color.font-post-details;
    }
    h2{
      margin-top: 10px;
    }
    .image-container{
      margin-top: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    #extra-details{
      margin-top: 10px;
    }
  }
}
