@use "../../fonts-colors"as font-color;

.upvotes {
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    button {
      width: 25px;
      border: none;
      background-color: transparent;
      cursor: pointer;
      &:hover {
        background-color: rgb(235, 232, 232);
      }

      .upArrow {
        &:hover {
          fill: font-color.$color-success;
        }
      }
      .downArrow {
        margin-top: 3px;

        &:hover {
          fill: font-color.$color-failure;
        }
      }
    }
  }