// Importing defined color variables
@use '../../../fonts-colors' as font-color;
@import '../../../fonts-colors';


.post {
  border: 2px solid rgb(190, 190, 190);
  //   background-color: lightgray;
  // width: 100%;
  padding: 20px 20px 20px 0;
  
  position: absolute;
  top: 0;
  left:0;
  right: 0;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 600px;
  &:hover{
    border: 2px solid #818384
  }
  .back{
    height: 3rem;
    padding: 0.5rem 1rem;
    font-family: Ubuntu, sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
  }
  
  .preview-content {
    width: 80%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    p{
      @include font-color.font-post-details;
    }
    
    h2{
      margin: 10px 0;
      line-height: 1.3rem;
      font-weight: 500;
    }
    #videos{
      width : 400px;
      height: 210px;
    }
    a{
      overflow-wrap: break-word;
      line-height: 1.3rem;
    }
    .image-container{
      margin-top: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .reddit-video{
      height: 512px;
    }
    button{
      margin-top:1rem;
      border: 2px solid black;
      border-radius: 5rem;
      padding: 0.5rem 0.7rem;
      font-weight: 500;
      float: right;
      &:hover{
        background-color: rgb(221, 221, 221);
      }

    }
    .post-text{
      margin-top: 2rem;
      p{
        margin-bottom: 1em;
        line-height: 1.5rem;
        color: black;
        font-size: 1rem;
      }
      

    }
    #extra-details{
      margin-top: 10px;
    }
    @media only screen and (max-width: 600px)  {
      #videos{
        width: 100%;
        iframe > iframe{
          width: 100%;
        }
        
      }
    }
  }
}
@media only screen and (max-width: 600px)  {
  .post{
    width: 100%;
  }
}
