@import '../../../../fonts-colors';
.listing-selector{
    margin: 0 10px;
    display: flex;
    justify-content: left;
    border: 1px solid gray;
    height: 4rem;
    border-radius: 5px;
    align-items: center;

    button{
        padding: 0.6rem 1rem;
        border-radius:20px;
        
        font-family: 'Ubuntu', 'sans-serif';
        font-size: 0.9rem;
        font-weight: 600;
        margin-left: 1rem;
        border:none;
        background-color: transparent;
        span{
            margin-left: 0.5rem;
            
        }
        &:hover{
            
            background-color: rgb(192, 192, 192);
            
        }
    }
    .active{
        background-color: rgb(192, 192, 192);
    }

}
@media only screen and (max-width: 768px){
    .listing-selector{
        padding: 2px;
        display: flex;
        justify-content: space-around;
        button{
            margin:0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            span{
                margin-top: 3px;
                margin-left: 0;
            }
        }
    }
}