@import './PostPreview//PostPreview.scss';
.cont {
  position: relative;
  margin:0 auto;
  width: 70%;
}
@media only screen and (max-width: 768px){
    .cont{
        width: 100%;
    }
}
.post-list {
  background-color: white;
  // width: 700px;
  width: 100%;
  padding: 20px;

  box-shadow: 0 0 20px 0px grey;
}
@media only screen and (max-width: 768px) {
  .post-list {
    width: 100%;
    padding: 5px;
  }
}
