
// Imprting Robot Fonts
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
.font-post-heading{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.375rem;
    color: #d7dadc

}
.font-post-subbreddit{
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1.25rem;
    color: #d7dadc;
}
.font-post-details{
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1rem;
    color: #818384;
}

// Colors
$color-branding : #3d5af1;
$color-success :#45b81f;
$color-failure:#ff304f;

// Logo color
@mixin logo-color {
    filter: invert(22%) sepia(69%) saturate(2812%) hue-rotate(225deg) brightness(114%) contrast(89%);
}

// Logo font style
@mixin logo-font{
    font-size: 1rem;
    font-weight: 500;
}
// searchbar color
$color-searchbar:#efefef;
$color-searchIcon:rgb(41, 40, 40);